

<div class="container">
  <header>
    <nav class="nav nav-tabs">
      <div class="nav-item">
        <a class="nav-item_link" routerLink="joint-graph">Joint Graph</a>
      </div>
      <div class="nav-item">
        <a class="nav-item_link" routerLink="google-chart">Google Chart</a>
      </div>
      <div class="nav-item">
        <a class="nav-item_link" routerLink="yandex-chart">Yandex Chart</a>
      </div>
      <div class="nav-item">
        <a class="nav-item_link" routerLink="apple-chart">Apple Chart</a>
      </div>
      <div class="nav-item">
        <a class="nav-item_link" routerLink="microsoft-chart">Microsoft Chart</a>
      </div>
    </nav>
  </header>


  <div>
    <router-outlet></router-outlet>
  </div>

</div>
